/*Стили для экрана от стандартных ноутбуков и до бесконечности*/
.place__image {
    max-width: 460px;
    max-height: 460px;
    grid-row: 2/-1;
    grid-column: 1/2;
}

/*Стили для экранов небольших ноутбуков*/
@media screen and (max-width: 1024px) {
    .place__image {
        max-width: 440px;
        max-height: 440px;
    }
}

/*Стили для экранов  планшета*/
@media screen and (max-width: 768px) {
    .place__image {
        max-width: 340px;
        max-height: 340px;
    }
}

/*Стили для экранов телефона*/
@media screen and (max-width: 630px) {
    .place__image {
        max-width: 320px;
        max-height: 320px;
        width: 100%;
        margin-bottom: 32px;
        grid-row: 3/4;
    }
}