/*Стили для экрана от стандартных ноутбуков и до бесконечности*/
.places__place {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, auto);
    gap: 48px 40px;
    align-items: start;
    padding-bottom: 80px;
}

.places__place:last-child {
    padding-bottom: 0;
}

/*Стили для экранов небольших ноутбуков*/
@media screen and (max-width: 1024px) {
    .places__place {
        gap: 48px 32px;
    }
}

/*Стили для экранов  планшета*/
@media screen and (max-width: 768px) {
    .places__place {
        gap: 48px 28px;
        padding-bottom: 73px;
    }
}

/*Стили для экранов телефона*/
@media screen and (max-width: 630px) {
    .places__place {
        gap: 32px;
        display: block;
        padding-bottom: 50px;
    }
}