/*Стили для экрана от стандартных ноутбуков и до бесконечности*/
.header {
    max-width: 1184px;
    min-width: 288px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto 0;
    padding: 28px 48px 0;
}

/*Стили для экранов  планшета*/
@media screen and (max-width: 1024px) {
    .header {
        padding: 28px 48px 0;
    }
}

/*Стили для экранов телефона*/
@media screen and (max-width: 768px) {
    .header {
        padding: 28px 24px 0;
    }
}

@media screen and (max-width:425px) {
    .header {
        max-width: 288px;
        padding: 16px 16px 0;
    }
}