/*Для стилей от стандартных ноутбуков и до бесконечности */
.cover {
    margin: 92px auto;
    max-width: 1184px;
    background-image: url(../../images/cover-trains.jpg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    z-index: 0;
}

.cover::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #2A2C2F;
    opacity: 0.3;
    z-index: -1;
    transition-duration: 0.5s;
}

.cover:hover::before {
    opacity: 0.8;
}

/*Стили для небольших ноутбуков*/
@media screen and (max-width: 1024px) {
    .cover {
        max-width: 1024px;
    }
}

/*Для стилей от вертикального до горизонтального положения планшета*/
@media screen and (max-width: 768px) {
    .cover {
        margin: 90px 0 88px;
        max-width: 768px;
    }
}

/*Стили для мобильных устройств*/
@media screen and (max-width: 320px) {
    .cover {
        margin: 66px 0 64px;
        max-width: 320px;
    }
}