/*Для стилей от стандартных ноутбуков и до бесконечности */
.cover {
    display: flex;
    max-width: 1184px;
    min-width: 320px;
    margin: 92px auto;
    padding: 0 48px 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/*Стили для небольших ноутбуков*/
@media screen and (max-width: 1024px) {
    .cover {
        max-width: 1024px;
        padding: 0;
    }
}

/*Для стилей от вертикального до горизонтального положения планшета*/
@media screen and (max-width: 768px) {
    .cover {
        max-width: 768px;
        margin: 90px 0 88px;
    }
}

/*Стили для мобильных устройств*/
@media screen and (max-width: 425px) {
    .cover {
        max-width: 425px;
        margin: 66px 0 64px;
    }
}

@media screen and (max-width: 320px) {
    .cover {
        max-width: 320px;
        margin: 66px 0 64px;
    }
}