/*Стили для экрана от стандартных ноутбуков и до бесконечности*/
.footer {
    margin: 0 auto 0;
    padding: 0px 48px 24px;
    display: flex;
    justify-content: space-between;
    max-width: 1184px;
    min-width: 288px;
}

/*Стили для экранов небольших ноутбуков*/
@media screen and (max-width: 1024px) {
    .footer {
        padding: 0 48px 24px;
        max-width: 928px;
    }
}

/*Стили для экранов  планшета*/
@media screen and (max-width: 768px) {
    .footer {
        padding: 0 24px 24px;
        max-width: 720px;
    }
}

/*Стили для небольших экранов */
@media screen and (max-width: 685px) {
    .footer {
        padding: 0 16px 24px;
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width: 425px) {
    .footer {
        max-width: 186px;
        align-items: flex-start;
    }
}